@font-face {
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot")format("embedded-opentype"),
	url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),/* for Firefox, Internet Explorer >=9 and webkit(Chrome, Safari etc.)*/
	url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");/*Supported by all browsers except IE*/
	font-style: normal;
	font-weight: normal;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-size: 24px;
	line-height: 32px;
	font-family: "Roboto", "Arial", sans-serif;
	color: #000;
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 10px;
}

.header-top .container,
.page-footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 66px;
	max-width: 940px;
	flex-wrap: wrap;
}

.header-logo {
	width: 148px;
	height: 28px;
}

.header-logo img{
	width: 148px;
	height: 28px;
}

.header-top .tel {
	font-size: 20px;
	line-height: 25px;
	color: #b71810;
}

.header-title {
	background: url(../img/header-bg.jpg) no-repeat center;
	background-size: cover;
	min-height: 474px;
}

.promo {
	text-align: center;
}

h1, h2, h4{
	font-weight: 300;
}

.promo h1 {
	font-size: 65.69px;
	line-height: 85.89px;
	margin: 0;
	padding-top: 65px;
	word-wrap: break-word;
}

.promo p {
	font-size: 30px;
	line-height: 54px;
	margin: 15px;
}

.promo p span {
	font-size: 60px;
}

.btn-more-inf {
	display: inline-block;
	color: #b71810;
	font-size: 30px;
	line-height: 48px;
	text-decoration: none;
	padding: 6px 39px;
	border-radius: 3px;
	margin: 35px;
	background-image: linear-gradient(#ffffff, #E4E4E4);
	box-shadow: 
		inset 0 0 0 1px rgba(0, 0, 0, 0.2),
		0 1px 3px #aaaaaa;
}

.btn-more-inf:hover {
	background-image: linear-gradient(#E4E4E4, #ffffff);
	text-shadow: 2px 2px 2px #bbb;
}

.features-and-gifts {
	padding-bottom: 36px;
}

.features-and-gifts .discounts{
	font-size: 30px;
	line-height: 38px;
	color: #1C6786;
	text-align: center;
	margin-top: 74px;
}

.features-and-gifts p{
	font-size: 22px;
	line-height: 36px;
	font-weight: 300;
	margin-bottom: 90px;
}

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.feature-item {
	width: 350px;
	padding: 15px;
}

.circle{
	width: 154px;
	height: 154px;
	border-radius: 77px;
	margin: 0 75px;
}

.feature-choice .circle {
	background: #B0C6CF url(../img/sprite.png)  no-repeat 30px 30px;
}

.feature-speed .circle {
	background: #B0C6CF url(../img/sprite.png)  no-repeat -148px 30px;
}

.feature-sale .circle {
	background: #B0C6CF url(../img/sprite.png)  no-repeat -313px 30px;
}

.feature-title {
	color: #1C6786;
	margin-bottom: 41px;
}

.feature-choice .feature-title {
	margin-bottom: 10px;
}

.feature-item p{
	font-size: 18px;
	line-height: 24px;
	margin: 0;
}

.gifts {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

.gifts .badge{
	width: 154px;
	height: 154px;
	margin: 20px;
	border-radius: 77px;
	background: #C0362F url("../img/sprite.png") no-repeat -490px 35px;
}

.gifts .title {
	font-size: 31.85px;
	margin: 10px;
}

.gifts .description {
	color: #1C6786;
	font-size: 24px;
	line-height: 32px;
	margin: 10px;
}

.price {
	background: #F5F5F5;
	padding-bottom: 52px;
	padding-top: 20px;
}

.price h2 {
	font-size: 30px;
	line-height: 38px;
	text-align: center;
	margin: 36px;
}

.price-items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.price-item {
	width: 300px;
	height: 482px;
	border-radius: 5px; 
	background: white;
	margin: 20px;
	box-shadow: 0 0 10px 0 #D3D3D3;
}

.price-item .title {
	background: #C0362F;
	color: #fff;
	border-radius: 5px 5px 0 0;
	height: 180px;
}

.price-item .title h4 {
	margin: 0;
	padding: 28px 40px 18px 40px;
	text-align: center;
	font-family: "MyriadProRegular";
}

.price-item .title p{
	font-size: 16px;
	line-height: 18px;
	font-weight: 100;
	margin: 0;
	padding: 0 20px;
}

.price-item .description {
	line-height: 24px;
	font-weight: 300;
}

.price-item .description p {
	font-size: 20px;
	color: #b71810;
	text-align: center;
}

.price-item .description .saving {
	margin: 24px;
	margin-bottom: 38px;
}

.price-item .description .vacancy {
	position: relative;
	margin: 37px 27px 0 50px;
}

.cost {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.old-cost,
.new-cost {
	display: inline;
	font-size: 14px;
}

.old-cost{
	color: #A3A3A3;
}

.old-cost span {
	font-size: 28px;
	text-decoration: line-through;
}

.new-cost span {
	font-size: 48px;
}

.btn-buy {
	position: relative;
	display: block;
	color: white;
	background: #C0362F;
	text-decoration: none;
	font-family: "MyriadProRegular";
	font-size: 20px;
	border-radius: 3px;
	width: 252px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	margin: 25px;
}

.icon {
	position: absolute;
	left: 15px;
	top: 10px;
	transition: all 0.28s ease-in-out;
}

.hidden {
	position: absolute;
	opacity: 0;
}

.btn-buy:hover .hidden {
	left: 10px;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

.btn-buy:hover .icon {
	-webkit-transform: scale(4);
	        transform: scale(4);
	opacity: 0;
}

.btn-buy:active {
	top: 1px;
}

.vacancy {
	position: relative;
}

.vacancy::before {
	content: '';
	position: absolute;
	width: 22px;
	height: 27px;
	top: -3px;
	left: -20px;
	background: url(../img/sprite.png) no-repeat -476px -74px;
}

.price .conditions {
	position: relative;
	display: block;
	width: 199px;
	height: 47px;
	line-height: 47px;
	border-radius: 3px;
	text-align: center;
	background: #C9C7C7;
	color: rgba(0, 0, 0, 0.2);
	margin: auto;
	margin-top: 30px;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	box-shadow: inset 0 -30px 30px -30px #8A8888;
}

.price .conditions::before {
	content: attr(data-hover);
	position: absolute;
	left: 49px;
	color: #ffffff;
	transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.price .conditions:hover::before {
	opacity: 0;
	-webkit-transform: scale(0.9);
			transform: scale(0.9);
}

.feedback {
	background: url(../img/feedback-bg.jpg) no-repeat center;
	background-size: cover;
	min-height: 215px;
	display: flex;
	justify-content: space-between; 
	align-items: center;
}

.feedback h4 {
	text-align: center;
	line-height: 38px;
}

.page-footer .container {
	height: 134px;
}

.page-footer .footer-copyright {
	font-size: 14px;
	line-height: 25px;
	color: #C0C0C0;
}

.page-footer a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
	line-height: 25px;
}

.page-footer a:hover {
	text-decoration: underline;
}
